<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.social.views">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Home"
            android:label="@string/title_activity_platforms"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8c97d33e897b7a04789f6641de84790cdc131845" />

        <activity android:name=".fragments_view" />
        <activity android:name=".ArticleFragment" />
        <activity
            android:name=".Pint.Pinterest"
            android:label="@string/title_activity_pinterest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Twit.TwitterActivity"
            android:label="@string/title_activity_twitter" />
        <activity
            android:name=".Pint.MyBoards"
            android:label="@string/title_activity_my_boards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Pint.CreateBoardActivity" />
        <activity android:name=".Pint.MyPins" />
        <activity android:name=".Pint.CreatePinActivity" />
        <activity android:name=".Pint.FollowingActivity" />
        <activity android:name=".Pint.SearchUserActivity" />
        <activity
            android:name=".Insta.Photo"
            android:label="@string/title_activity_photo" />
        <activity android:name=".Pint.PintHome" />
        <activity
            android:name=".Pint.PintHomeTwo"
            android:label="@string/title_activity_pint_home_two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Twit.TwitterFeed" />
        <activity android:name=".Twit.TwitterHome" />
    </application>

</manifest>